<div class="code-input-container">
    <div class="code-input-field">
        <input type="number" id="value_1" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>                                         
    <div class="code-input-field">                 
        <input type="number" id="value_2" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>                                         
    <div class="code-input-field">                 
        <input type="number" id="value_3" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>                                         
    <div class="code-input-field">                 
        <input type="number" id="value_4" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>                                         
    <div class="code-input-field">                 
        <input type="number" id="value_5" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>                                         
    <div class="code-input-field">                 
        <input type="number" id="value_6" onfocus="this.select();" oninput="CodeInput_ValidateInput(this)"/>
    </div>
</div>