.user-card-container[b-8bz9vnr4ci]
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    width: 100%;
    padding-right: 10px;
}
.card-icon[b-8bz9vnr4ci] {
    height: 36px;
    width: 36px;
    border: 2px solid #0F7173;
    border-radius: 28px;
    overflow: hidden;
}
    .card-icon img[b-8bz9vnr4ci] {
        height: 36px;
        width: 36px;
        margin-left: -2px;
        margin-top: -4px;
    }

.card-user-icon-default[b-8bz9vnr4ci] {
    height: 32px;
    width: 32px;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}
.card-container-small[b-8bz9vnr4ci]{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.card-data[b-8bz9vnr4ci] {
    line-height: 32px;
}
.small-style[b-8bz9vnr4ci]{
    width: auto !important;
    gap: 1px !important;
    padding-right: 2px;
}
.small-style .card-icon[b-8bz9vnr4ci]{
    height: 28px;
    width: 28px;
}
.small-style .card-icon img[b-8bz9vnr4ci] {
    height: 28px;
    width: 28px;
}
    .small-style .card-user-icon-default[b-8bz9vnr4ci]{
        font-size: 14px !important;
        margin-left: -4px;
        margin-top: -2px;
    }