.layout-element[b-90e5zda2im]
{
    border: 1px solid #d9d9d9;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    flex: 1;
    height: 30px;
    line-height: 18px;
    overflow: hidden;
}
    .layout-element:hover[b-90e5zda2im] {
        background-color: #0F7173;
        color: white;
    }
.layout-sub-container[b-90e5zda2im], .layout-sub-column-container[b-90e5zda2im] {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.layout-sub-container-data[b-90e5zda2im], .layout-sub-column-container-data[b-90e5zda2im] {
    flex: 1;
}
.layout-sub-container-icon[b-90e5zda2im], .layout-sub-column-container-icon[b-90e5zda2im] {
    line-height: 24px;
    padding-left: 5px;
}
.layout-element-name[b-90e5zda2im] {
    overflow: hidden;
}
.expand-button[b-90e5zda2im] {
    cursor: pointer;
    color: #808080;
}
.expand-button:hover[b-90e5zda2im]{
    color: #25CCDB;
}

.layout-element-container[b-90e5zda2im]{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.layout-sorter[b-90e5zda2im]{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.layout-sorter-button[b-90e5zda2im] {
    width: 24px;
    height: 14px;
    line-height: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    text-align: center;    
    color: #808080;
    cursor: pointer;
}
    .layout-sorter-button:hover[b-90e5zda2im] {
        background-color: #0F7173;
        border-color: #0F7173;
        color: white;
    }
    .layout-sorter-button i[b-90e5zda2im] {
        font-size: 12px !important;
        margin: auto;
    }
.layout-sorter-placeholder[b-90e5zda2im] {
    width: 24px;
    height: 14px;
    border: 1px solid white;
    border-radius: 3px;
}

.layer-dropable[b-90e5zda2im] {
    border-top: 30px solid #F6F6F6 !important;
    padding-top: 5px !important;
}
