@using IntlTelInputBlazor

<div class="custom-phone-container">
    <IntlTelInput @bind-Value="Phone" InitialCountry="it" PreferredCountries="@PreferredCountries" LocalizedCountries="@LocalizedCountries" OnlyCountries="@OnlyCountries" />
</div>