.news-preview-container[b-qdjzhjat74]
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    /*flex-wrap: wrap;*/
    min-height: 300px;
}

.news-item-container[b-qdjzhjat74] {
    width: 24%;
    overflow: hidden;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

@media(max-width: 1000px) {
    .news-preview-container[b-qdjzhjat74] {
        flex-wrap: wrap;
    }

    .news-item-container[b-qdjzhjat74] {
        width: 100%;
    }
}

.news-item-container:hover[b-qdjzhjat74] {
    border: 1px solid #0F7173;
}

.news-image[b-qdjzhjat74]{
    height: 200px;
    overflow: hidden;
}
.news-image img[b-qdjzhjat74]
{
    width: 100%;
}

.news-data-column[b-qdjzhjat74] {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-title[b-qdjzhjat74]{
}
.news-preview[b-qdjzhjat74] {
    height: 100%;
}

.news-item-buttons[b-qdjzhjat74] {
    display: flex;
    justify-content: flex-end;
}

.news-button-container[b-qdjzhjat74]{
    display: flex;
    justify-content: flex-end;
}
.news-date[b-qdjzhjat74]{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.news-button[b-qdjzhjat74]{
    color: #0F7173;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    line-height: 30px;
    height: 30px;
}

    .news-button:hover[b-qdjzhjat74] {
        text-decoration: underline;
        color: #1DA2AF;
    }