.filter-container {
    width: 100%;
    position: relative;
}
.filter-search-input {
    border: 1px solid #d9d9d9;
}

.filter-searchbar {
    display: flex;
    /*gap: 5px;*/
    justify-content: space-between;
    padding-left: 10px;
}

.filter-searchbar input{
    flex: 1;
    height: 38px !important;
    border: 0px !important;
    outline: 0px !important;
}

.searchbar-button{
    width: 38px !important; 
    height: 38px !important;
    background-color: white;
    color: rgb(128 128 128);
    border-radius: 0px;
}

    .searchbar-button:hover {
        background-color: #0F7173;
        color: white;
    }

.filter-popup {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    z-index: 800;
    padding: 10px;
    width: 100%;
}

.grid-data-container{
    min-height: 600px;
}
.filter-first-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-first-row div{
    flex: 1;
}
.filter-second-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-second-row .filter-element {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}
    .filter-second-row .filter-element div {
        flex: 1;
    }

.filter-toolbar{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.filter-authorities {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.authority-tag {
    width: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 30px !important;
    height: auto !important;
    border: 2px solid #0F7173 !important;
    box-shadow: none !important;
}

.filter-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
}

.filter-submitted, .filter-deadline {
    display: flex;
    gap: 10px;
}

.column-settings-item{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.column-settings-content{
    display: flex;
    gap: 10px;
    height: 38px;
    line-height: 24px;
}

.filter-clear-button {
    width: 38px !important;
    height: 38px;
    margin: auto;
}

.filter-search-first-row{
    display: flex;
    gap: 10px;
}
    .filter-search-first-row div {
        flex: 1;
    }
.custom-grid-toolbar-right{
    display: flex;
    gap: 10px;
}

.administration-grid {
    min-height: 600px;
}
.custom-grid-toolbar{
    flex: 1;
}