.map-container[b-vtnxqpvtp4] {
    width: 100%;
    height: 600px;
    border: 3px solid #0F7173 !important;
}

.room-galerie-image[b-vtnxqpvtp4]{
    height: 60px;
    max-width: 200px;
    overflow: hidden;
}

.room-galerie-image img[b-vtnxqpvtp4]{
    height: 60px;
}
.price-table[b-vtnxqpvtp4] {
    border: 1px solid #d9d9d9;
}

.price-header[b-vtnxqpvtp4]{
    background-color: #0F7173;
    color: white !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}
.price-cell[b-vtnxqpvtp4] {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .price-row-header[b-vtnxqpvtp4] {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.pricing-type-picker[b-vtnxqpvtp4]{
    max-width: 400px;
}
.room-options-container[b-vtnxqpvtp4]{
    height: 800px;
}

.seating-container[b-vtnxqpvtp4]{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}
.seating-item[b-vtnxqpvtp4]{
    width: 46%;
}

.seating-item img[b-vtnxqpvtp4]{
    height: 40px;
}