@page "/RoomBooking/Calendar"    
@layout MainLayout


<div class="segment-container custom-background-default application-detail-container">
    <ICWebApp.Components.Rooms.Calendar.CalendarComponent></ICWebApp.Components.Rooms.Calendar.CalendarComponent>
</div>