h5[b-pzqtpuckjd], .h5[b-pzqtpuckjd] {
    color: #0f7173;
}
.preview-container[b-pzqtpuckjd] {
    height: 500px;
    /*height: calc(100% - 45px) !important;
    height: -moz-calc(100% - 45px) !important;
    height: -webkit-calc(100% - 45px) !important;
    height: -o-calc(100% - 45px) !important;*/
}
.preview-url-container[b-pzqtpuckjd] {
    height: 100%;
}
.viewerobject[b-pzqtpuckjd] {
    min-height: 500px;
}
.mensa-change-container[b-pzqtpuckjd]{
    display: flex;
    gap: 10px;
}

.authority-tag[b-pzqtpuckjd] {
    width: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 30px !important;
    height: auto !important;
    border: 2px solid #0F7173 !important;
}
.canteen-subscription-selection-container[b-pzqtpuckjd]{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
