.formbuilder-container{
    display: flex;
    gap: 20px;
}

.formbuilder-elementcontainer {
    justify-content: flex-start;
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 10px;
    height: 80vh;
    overflow: auto;
}
.formbuilder-toolbar {
    justify-content: flex-end;
    width: 260px;
    border: 1px solid #dfdfdf;
    padding: 10px;
    height: 80vh;
    overflow: auto;
}
.toolbar-element {
    border: 1px solid #0F7173;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: #0F7173;
    cursor: pointer;
    display: flex;
    gap: 10px;
}
    .toolbar-element:hover {
        background-color: #0F7173BB;
        color: white;
    }
.toolbar-main-element {
    background-color: #0F7173;
    color: white;
}

.toolbar-element-disabled {
    background-color: #0F7173BB !important;
}

.toolbar-title {
    color: white;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 5px;
    background-color: #0F7173 !important;
}

.form-element-empty{
    height: 20px;
}

.form-element {
    border: 1px solid #dfdfdf;
    padding: 5px;
}
    .form-element:hover{
        border-color: #0F7173 !important;
    }
.formbuilder-container-drop-enabled{
    border: 1px solid #0F7173 !important;
}

.form-element-container{
    padding-top: 5px;
    margin-top: 5px;
}
.form-element-container:first-of-type{
    padding-top: 5px;
    margin-top: 0px;
}
.formbuilder {
    position: relative;
}

.dropable {
    border-top: 3px solid #0F7173 !important;
}
.formbuilder-layer-container{
    width: 500px;
    height: 80vh;
    overflow: auto;
    border: 1px solid #d9d9d9;
    padding: 10px;
}
.toolbar-icon-container{
    width: 16px;
    text-align: center;
}