.k-checkbox[b-js2688n892] {
    min-height: 16px;
    min-width: 16px;
}

.containerCenter[b-js2688n892] {
    padding: 6px;
    min-width: 100px;
    margin-left: 25px;
    margin-right: 5px;
}


.button-container[b-js2688n892] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}