@page "/Accessibility"
@layout FrontendLayout

<div class="row">
    <div class="col-md-12">
        <InfoPageComponent MenuID="2d6dc2f0-9e89-41e6-b92b-20c8d71e070b" PageUrl="/Accessibility"></InfoPageComponent>
    </div>
</div>
<div class="element-separator"></div>