@page "/Cookies"
@layout FrontendLayout

<div class="row">
    <div class="col-md-12">
        <InfoPageComponent MenuID="08527131-d608-4e01-a665-900fdf8c983c" PageUrl="/Cookie"></InfoPageComponent>
    </div>
</div>
<div class="element-separator"></div>