@page "/LegalNote"
@layout FrontendLayout

<div class="row">
    <div class="col-md-12">
        <InfoPageComponent MenuID="6cd5a87f-a541-4cdf-9d0d-3f648e4f4d8b" PageUrl="/LegalNote"></InfoPageComponent>
    </div>
</div>
<div class="element-separator"></div>