@page "/Privacy"
@layout FrontendLayout

<div class="row">
    <div class="col-md-12">
        <InfoPageComponent MenuID="f3b3845f-76a2-456f-b6f1-3ab625a620f6" PageUrl="/Privacy"></InfoPageComponent>
    </div>
</div>
<div class="element-separator"></div>