.segment-container[b-ovk9zse848] {
    height: 100%;
    display: flex;
    gap: 30px;
    padding: 0px !important;
}

.segment-left[b-ovk9zse848] {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 100%;
    min-height: 320px;
}


@media (max-width: 680px) {

    .segment-left[b-ovk9zse848] {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        min-height: 0px;
        margin-bottom: 20px;
    }
}

.segment-right[b-ovk9zse848] {
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
}

.segment-separator[b-ovk9zse848] {
    border-bottom: 1px solid;
    height: 1px;
}

.segment-line[b-ovk9zse848] {
    display: flex;
    justify-content: space-between;
}

.segment-line-end[b-ovk9zse848] {
    display: flex;
    justify-content: flex-end;
}

.segment-title[b-ovk9zse848] {
    font-weight: bold;
    font-size: 18px;
    flex: 1;
}

.segment-value[b-ovk9zse848] {
    font-size: 16px;
    flex: 1;
    align-self: normal;
}

.subscriber-container[b-ovk9zse848] {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.subscriber-status-icon[b-ovk9zse848] {
    margin-left: 10px;
    height: 24px;
    width: 24px;
}

aside#sidebar[b-ovk9zse848] {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 15px;
}

article[b-ovk9zse848], aside[b-ovk9zse848], details[b-ovk9zse848], figcaption[b-ovk9zse848], figure[b-ovk9zse848], footer[b-ovk9zse848], header[b-ovk9zse848], hgroup[b-ovk9zse848], main[b-ovk9zse848], menu[b-ovk9zse848], nav[b-ovk9zse848], section[b-ovk9zse848], summary[b-ovk9zse848] {
    display: block;
}

.sidebar_box[b-ovk9zse848] {
    display: block;
    margin-bottom: 25px;
    line-height: 1.42857;
    max-width: 500px;
}

.nav[b-ovk9zse848], #main_navigation #primary_nav[b-ovk9zse848], #main_navigation #service_nav[b-ovk9zse848] {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

    .nav > li[b-ovk9zse848], #main_navigation #primary_nav > li[b-ovk9zse848], #main_navigation #service_nav > li[b-ovk9zse848] {
        position: relative;
        display: block;
    }

ol ol[b-ovk9zse848], ol ul[b-ovk9zse848], ul ol[b-ovk9zse848], ul ul[b-ovk9zse848] {
    margin-bottom: 0;
    list-style: none;
}

.login-element[b-ovk9zse848] {
    background-color: #f2f2f2;
    padding: 30px;
    width: 100%;
    flex: 1;
    text-align: center;
}


.k-grid[b-ovk9zse848] {
    min-height: 250px !important;
}

.right-menu[b-ovk9zse848] {
    margin-bottom: 10px;
    border-bottom: 2px;
    border-bottom-style: solid;
}

.active[b-ovk9zse848] {
    margin-bottom: 20px;
}


.icon-Container[b-ovk9zse848] {
    margin-right: 5px;
}

.default-space[b-ovk9zse848] {
    height: 20px;
    width: 10px;
}

h5[b-ovk9zse848], .h5[b-ovk9zse848] {
    color: #0F7173;
}

.application-row[b-ovk9zse848] {
    display: flex;
}

.application-label[b-ovk9zse848] {
    width: 180px;
}

.application-value[b-ovk9zse848] {
    flex: 1;
}

.applicant-container[b-ovk9zse848] {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.applicant-group[b-ovk9zse848] {
    flex: 1;
}

.subscription-split-container[b-ovk9zse848] {
    display: flex;
    gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    flex: 1;
}

.subscription-split-left[b-ovk9zse848], .subscription-split-right[b-ovk9zse848] {
    flex: 1;
}

.subscriber-item-container[b-ovk9zse848] {
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    gap: 30px;
}

.subscriber-container[b-ovk9zse848] {
    width: 49%;
}

.subscription-split-subelement[b-ovk9zse848] {
    width: 47%;
    /*border: 1px solid #d9d9d9;*/
    /*border-radius: 3px;*/
    /*padding: 15px;*/
}

.segment-header[b-ovk9zse848] {
    display: flex;
    gap: 10px;
}

.segment-header-icon[b-ovk9zse848] {
    font-size: 24px;
    width: 30px;
    margin-top: -4px;
}

.segment-header-text[b-ovk9zse848] {
    font-weight: normal;
    line-height: 30px;
}

.segment-button-bar[b-ovk9zse848] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.subscriber-container[b-ovk9zse848] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-row-container[b-ovk9zse848] {
    display: flex;
    gap: 30px;
}

.title-row-container-left[b-ovk9zse848] {
    flex: 1;
}

.balance-container[b-ovk9zse848] {
    min-width: 400px;
    max-height: 200px;
}

.balance-value-container[b-ovk9zse848] {
    padding-left: 40px;
    font-size: 32px !important;
    font-weight: bold;
    color: #0F7173 !important;
}

.title-row-container-left[b-ovk9zse848] {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.movements-container[b-ovk9zse848] {
}

.balance-button-container[b-ovk9zse848] {
    padding-left: 40px;
}

.period-not-open[b-ovk9zse848] {
    padding-left: 8px;
    padding-top: 5px;
    color: red !important;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    width: auto;
}
.canteen-movement-dashboard-grid[b-ovk9zse848]{
    max-width: 60%;
}