.h1[b-bo3bu5d96x] {
    color: #0F7173;
}

.h2[b-bo3bu5d96x] {
    color: #0F7173;
}

.InfoPageSection.h3[b-bo3bu5d96x] {
    color: #0F7173 !important;
}

.h3[b-bo3bu5d96x] {
    color: #0F7173 !important;
}

.h4[b-bo3bu5d96x] {
    color: #0F7173;
}


.h5[b-bo3bu5d96x] {
    color: #0F7173;
}

.h6[b-bo3bu5d96x] {
    color: #0F7173;
}

