.loader-overlay {
    background: linear-gradient(180deg, rgba(255,255,255,0.00525560224089631) 13%, rgba(255,255,255,0.48783263305322133) 13%) !important;
}

.background-grey{
    background: #F2F2F2;
}

.layout-page-title {
    overflow-wrap: break-word;   
}