.backend-form-selection[b-vd4bhbtm1j]
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.backend-form-selection div[b-vd4bhbtm1j]{
    flex: 1;
}

.backend-step-container[b-vd4bhbtm1j]{
    min-height: 500px;
}

.previous-selection-container[b-vd4bhbtm1j] {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    border-bottom: 1px solid #0F7173;
    padding-bottom: 20px;
    flex-wrap: wrap;
}