.file-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.document-detail-download {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
}

    .document-detail-download:hover {
        border-color: #0F7173;
        color: #0F7173;
    }

        .document-detail-download:hover .document-detail-download-icon {
            color: #0F7173 !important;
        }

.document-detail-download-icon {
    font-size: 24px;
    color: #808080;
}

.document-detail-download-description {
    line-height: 34px;
}
