.segment-line .form-group{
    width: 100%;
}


.subscriber-container-add {
    height: 50px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 0 2px #0F7173;
    border-radius: 4px;
    line-height: 50px;
    text-transform: uppercase;
    color: #0F7173;
    cursor: pointer;
    font-weight: 700;
}
    .subscriber-container-add:hover {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #0F7173;
        background-color: #f5f5f5;
    }

.privacy-check-container .element-checkbox {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.container-error{
    color: red;
}
.btn{
    width: auto;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.previous-sub-container{
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previous-sub-item{
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.previous-sub-item:hover{
    border-color: #0F7173;
}
.previous-sub-button-container {
    display: flex;
    justify-content: flex-end;
}
.previous-popup-button-container {
    display: flex;
    justify-content: flex-end;
}

.segment-listview-item-container {
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 65px;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-left: 5px solid #f2f2f2;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
}

    .segment-listview-item-container:hover {
        color: #0F7173;
        border-color: #0F7173;
    }

        .segment-listview-item-container:hover .listview-item-button {
            color: white !important;
            background-color: #0F7173;
        }

.segment-listview-item-data-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex: 1;
}

.listview-item-data {
    display: flex;
    flex-direction: column;
}

.segment-listview-item-title {
    margin-top: auto;
    margin-bottom: auto;
}

.listview-item-bullet {
    font-size: 36px;
    width: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #808080;
}
.listview-item-button {
    position: absolute;
    margin-top: auto;
    right: 0px;
    top: 0px;
    margin-bottom: auto;
    width: 50px;
    height: 100%;
    background-color: #f2f2f2;
    color: #808080;
}

.listview-item-button-container {
    height: 100%;
    display: flex;
}

.listview-item-button-icon {
    margin: auto;
    font-size: 18px;
}

.address-not-found-container {
    cursor: pointer;
}

    .address-not-found-container:hover {
        color: #25CCDB;
        text-decoration: underline !important;
    }