h5, .h5 {
    color: #0f7173;
}
.preview-container {
    height: 500px;
    /*height: calc(100% - 45px) !important;
    height: -moz-calc(100% - 45px) !important;
    height: -webkit-calc(100% - 45px) !important;
    height: -o-calc(100% - 45px) !important;*/
}
.preview-url-container {
    height: 100%;
}
.viewerobject {
    min-height: 500px;
}
.mensa-change-container{
    display: flex;
    gap: 10px;
}

.authority-tag {
    width: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 30px !important;
    height: auto !important;
    border: 2px solid #0F7173 !important;
    box-shadow: none !important;
}
.canteen-subscription-selection-container{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
