<div class="user-dokument-container">
    <div class="upload-new-container">
        <UploadComponent FileInfoList="@ExistingFiles" RemoveAreYouSure="true"
                         OnRemove="FileRemoved" OnUpload="FileUploaded" Multiple="true"></UploadComponent>
    </div>
</div>