
.application-row[b-v5z6ylt9u0] {
    display: flex;
    flex-wrap: wrap;
}

.application-label[b-v5z6ylt9u0] {
    width: 300px;
}

.application-value[b-v5z6ylt9u0] {
    font-weight: 600;
    word-break: break-all;
}

.applicant-container[b-v5z6ylt9u0] {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.applicant-group[b-v5z6ylt9u0] {
    flex: 1;
}

.document-detail-download[b-v5z6ylt9u0] {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

    .document-detail-download:hover[b-v5z6ylt9u0] {
        color: #0F7173;
    }

        .document-detail-download:hover .document-detail-download-icon[b-v5z6ylt9u0] {
            color: #0F7173 !important;
        }

.document-detail-download-icon[b-v5z6ylt9u0] {
    font-size: 20px;
    color: #808080;
}

.document-detail-download-description[b-v5z6ylt9u0] {
    line-height: 34px;
}

.status-template-container[b-v5z6ylt9u0] {
    display: flex;
    gap: 20px;
    height: 80px;
}

.status-template-step[b-v5z6ylt9u0] {
    width: 40px;
    height: 40px;
    background-clip: padding-box;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    background-color: white;
    border: 1px solid #0F7173;
}

.status-template-status-solo[b-v5z6ylt9u0] {
    padding-top: 10px;
}

.first-row-container[b-v5z6ylt9u0] {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.first-row-container-left[b-v5z6ylt9u0] {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-row-container-right[b-v5z6ylt9u0] {
    flex: 1;
}

.chat-container[b-v5z6ylt9u0] {
    height: 400px;
}

.status-container[b-v5z6ylt9u0] {
    max-height: 400px;
    overflow: auto;
}

.map-container[b-v5z6ylt9u0] {
    width: 100%;
    height: 400px;
    border: 3px solid #0F7173 !important;
}

.status-template-reason[b-v5z6ylt9u0] {
    width: 500px;
    word-break: break-word;
    word-wrap: normal;
    overflow: hidden;
}

.button-container[b-v5z6ylt9u0]{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn[b-v5z6ylt9u0]{
    min-width: 150px;
    width: auto;
}

.button-toolbar-container[b-v5z6ylt9u0]{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}