
.Blank {
    background: white !important;
    color: white;
}

.VeryWeak {
    background: #c41a0e !important;
    color: white !important;
    flex: 0.25;
}



.Weak {
    background: #f2ac16 !important;
    color: white !important;
    flex: 0.5;
}



.Medium {
    background: #f2ac16 !important;
    flex: 0.5;
}



.Strong {
    color: white !important;
    background: #0F7173 !important;
    flex: 0.75;
}



.VeryStrong {
    color: white !important;
    background: #0c5152 !important;
    flex: 1;
}

.password-quality-bar-background {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: flex-start;
}