@if (_municipality != null && _municipality.FESR_EFRE_Logo == true)
{
    <div class="FESR_EFRE-container">
        <img class="FESR_EFRE-logo Standard-View" src="/Images/FESR_EFRE/FESR_EFRE_Logo_FullWidth.jpg">
        <img class="FESR_EFRE-logo Mobile-View" src="/Images/FESR_EFRE/FESR_EFRE_Logo_Mobile.jpg">
        <p style="margin-top: 10px">@TextProvider.Get("EFRE_LOGO_TEXT")</p>
    </div>
}