@if (Message != null)
{
    <div class="email-container font-normal">
        <div class="element-separator"></div>
        @if (Message != null && Message.MSG_SystemMessageTypesID != Guid.Parse("9574B88A-DAC4-4101-A27A-E5306224A6C0"))
        {
            <div class="email-data-container">
                <SystemMessageComponent Message="@Message"></SystemMessageComponent>
            </div>
            <div class="small-element-separator"></div>
            <div class="email-footer">
                <div class="small-element-separator"></div>
                <div class="form-group-container">
                    <button class="btn btn-primary" @onclick="BackToLogin" type="button">@(TextProvider.Get("RESETPASSWORD_BUTTON_BACK_TO_LOGIN"))</button>
                </div>
            </div>
        }
        else
        {
            if (User != null)
            {
                <div class="resetPassword-data-container">
                    <ChangePasswordComponent User="@User"></ChangePasswordComponent>
                </div>
            }
        }
    </div>
}