

.segment-left[b-9690ibxluy] {
    justify-content: flex-start;
    padding: 30px;
    width: 100%;
    min-height: 320px;
}

.segment-right[b-9690ibxluy] {
    justify-content: flex-end;
    width: 100%;
    padding: 30px;
}

.segment-separator[b-9690ibxluy] {
    border-bottom: 1px solid;
    height: 1px;
}

.segment-line[b-9690ibxluy] {
    display: flex;
    justify-content: space-between;
}

.segment-line-end[b-9690ibxluy] {
    display: flex;
    justify-content: flex-end;
}

.segment-title[b-9690ibxluy] {
    flex: 1;
}

