.room-card-image {
    width: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
}
.room-default-image {
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    color: #808080;
}
.room-card-container {
    padding: 15px;
    border: 1px solid #F2F2F2;
    box-shadow: 0 8px 24px 0 rgb(50 50 50 / 15%);
    cursor: pointer;
    position: relative;
}
    .room-card-container:hover {
        border-color: #0F7173;
    }
    .room-card-first-row {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
.room-card-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.room-card-end{
    position: absolute;
    right: 10px;
    top: -15px;
    /*width: 40px;*/
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
    .room-card-end .btn {
        width: 30px !important;
        height: 30px !important;
        padding: 0px !important;
    }
        .room-warning-element {
            width: 30px;
            height: 30px;
            border: 2px solid #dc3545;
            background-color: #dc3545;
            text-align: center;
            color: white;
            border-radius: 3px;
        }
    .room-warning-element i{
        margin-top: 3px;
    }
    .room-card-subcontainer {
        margin-top: 30px;
        padding-left: 30px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }
    .room-card-subcontainer .room-card-container {
        width: 100%;
    }
    .room-card-content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex: 1;
    }
.property-container{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.property-value{
    width: 30px;
    text-align: end;
}
.property-container i{
    line-height: 25px;
    width: 25px;
    color: #808080;
    text-align: center;
}
.show-all-rooms-button {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.selected-True {
    border-color: #0F7173 !important;
    background-color: #0F717311 !important;
}

.disabled-True{

}

.seating-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.seating-item img {
    height: 32px;
}

.room-card-seating-row {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
.seating-item{
    text-align: center;
}
.room-card-booking-error-row {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
.room-card-booking-error {
    color: red;
}
.room-card-booking-ok{
    color: green;
}
.room-already-booked {
    border-color: #dc3545 !important;
}