.k-grid .k-link[b-10c0rak4j1] {
    color: white !important;
}

.roomsearchfilters[b-10c0rak4j1] {
    text-align: center;
    margin: 0 0 30px;
    width: 100%;
    min-height: 50px;
    display: inline-block;
}

.roomsearchfilters .form-group[b-10c0rak4j1] {
    margin-bottom: 8px;
}

/*@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}*/

.hide[b-10c0rak4j1] {
    display: none !important;
}

.form-group[b-10c0rak4j1] {
    float: left;
    margin: 5px;
}

.btn[b-10c0rak4j1] {
    width: 250px;
}

