.filter-container[b-1ak2ozno73] {
    width: 100%;
    position: relative;
}

.filter-search-input[b-1ak2ozno73] {
    border: 1px solid #d9d9d9;
}

.filter-searchbar[b-1ak2ozno73] {
    display: flex;
    /*gap: 5px;*/
    justify-content: space-between;
    padding-left: 10px;
}

    .filter-searchbar input[b-1ak2ozno73] {
        flex: 1;
        height: 38px !important;
        border: 0px !important;
        outline: 0px !important;
    }

.searchbar-button[b-1ak2ozno73] {
    width: 38px !important;
    height: 38px !important;
    background-color: white;
    color: rgb(128 128 128);
    border-radius: 0px;
}

    .searchbar-button:hover[b-1ak2ozno73] {
        background-color: #0F7173;
        color: white;
    }

.filter-popup[b-1ak2ozno73] {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    z-index: 800;
    padding: 10px;
    width: 100%;
}

.filter-second-row[b-1ak2ozno73] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    .filter-second-row .filter-element[b-1ak2ozno73] {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1;
    }

        .filter-second-row .filter-element div[b-1ak2ozno73] {
            flex: 1;
        }

.filter-toolbar[b-1ak2ozno73] {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.filter-authorities[b-1ak2ozno73] {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.authority-tag[b-1ak2ozno73] {
    width: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 30px !important;
    height: auto !important;
    border: 2px solid #0F7173 !important;
    box-shadow: none !important;
}

.filter-overlay[b-1ak2ozno73] {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
}

.filter-submitted[b-1ak2ozno73], .filter-deadline[b-1ak2ozno73] {
    display: flex;
    gap: 10px;
}

.filter-clear-button[b-1ak2ozno73] {
    width: 38px !important;
    height: 38px;
    margin: auto;
}

.filter-search-first-row[b-1ak2ozno73] {
    display: flex;
    gap: 10px;
}

    .filter-search-first-row div[b-1ak2ozno73] {
        flex: 1;
    }

.filter-button-bar[b-1ak2ozno73] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.filter-date-element[b-1ak2ozno73] {
    width: 100%;
}

.third-row-css[b-1ak2ozno73] {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.third-row-element[b-1ak2ozno73] {
    flex: 1;
}

.authority-tag-selected[b-1ak2ozno73] {
    background-color: #dFdFdF !important;
    color: #0F7173 !important;
}
.calendar-item-container-blocked[b-1ak2ozno73]{
    height: 20px;
}
.booking-type-legend-container[b-1ak2ozno73]{
    display: flex;
    gap: 60px;
}
.btn[b-1ak2ozno73]{
    width: auto;
    min-width: 150px;
}
.button-container[b-1ak2ozno73]{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.rooms-calendar-container[b-1ak2ozno73] {
    height: calc(100vh - 390px);
    height: -moz-calc(100vh - 390px);
    height: -webkit-calc(100vh - 390px);
    height: -o-calc(100vh - 390px);
    position: relative;
}
.appointment-container[b-1ak2ozno73], .status-container[b-1ak2ozno73], .room-container[b-1ak2ozno73]{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}
.appointment-icon[b-1ak2ozno73], .room-icon[b-1ak2ozno73], .status-icon[b-1ak2ozno73]{
    width: 20px;
    text-align: center;
}
.group-link[b-1ak2ozno73]{
    cursor: pointer;
    display: flex;
    gap: 7px;
    flex: 1;
    justify-content: flex-end;
}
    .group-link i[b-1ak2ozno73]{
        line-height: 19px;
    }
    .group-link:hover[b-1ak2ozno73] {
        color: #0F7173;
    }
    .group-link:hover .group-link-button[b-1ak2ozno73] {
        text-decoration: underline;
    }

.remove-link[b-1ak2ozno73] {
    color: #dc3545;
    justify-content: flex-start !important;
}
.remove-link:hover[b-1ak2ozno73]{
    color: red !important;
}
.footer-container[b-1ak2ozno73]{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
.edit-link[b-1ak2ozno73] {
    justify-content: flex-start !important;
}
.scheduler-appointment-editor-footer[b-1ak2ozno73]{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.rooms-type-filter[b-1ak2ozno73]{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.rooms-icon-legend-container[b-1ak2ozno73]{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}