.nav[b-yg97n0nx9g] {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.displaylist[b-yg97n0nx9g] {
    text-align: center;
    margin-bottom: 30px;
}

ul[b-yg97n0nx9g], ol[b-yg97n0nx9g] {
    margin-top: 0;
}

.k-tooltip[b-yg97n0nx9g] {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}


.system-notification-container[b-yg97n0nx9g] {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #F6F5F4 !important;
    margin: 5px;
}
.content-section[b-yg97n0nx9g] {
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 420px);
    height: -moz-calc(100vh - 420px);
    height: -webkit-calc(100vh - 420px);
    height: -o-calc(100vh - 420px);
}

.RoomGroup-Overview-Left-Container[b-yg97n0nx9g] {
    flex: 40%;
    height: 100%;
    overflow: auto;
    margin: unset;
    border: unset;
    padding-right: 10px;
}

.RoomGroup-Overview-Right-Container[b-yg97n0nx9g] {
    flex: 60%;
    height: 100%;
    overflow: hidden;
    margin: unset;
    padding-left: 10px;
}


@media (max-width: 800px) {
    .RoomGroup-Overview-Right-Container[b-yg97n0nx9g], .RoomGroup-Overview-Left-Container[b-yg97n0nx9g] {
        flex: 100%;
    }

    .content-section[b-yg97n0nx9g] {
        display: inline !important;
    }
}


.RoomGroupCards-Overview-Container[b-yg97n0nx9g] {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.RoomGroupCards-Overview-Left-Container[b-yg97n0nx9g]{
    background-color: #808080;
    height: 100%;
}

.room-card-image-container[b-yg97n0nx9g]{
    margin:auto;
}
.RoomGroupCards-Overview-Right-Container[b-yg97n0nx9g] {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .RoomGroupCards-Overview-Right-Container h3[b-yg97n0nx9g] {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 5px;
    }

    .RoomGroupCards-Overview-Right-Container ul[b-yg97n0nx9g] {
        margin-bottom: unset;
    }

    .RoomGroupCards-Overview-Right-Container li[b-yg97n0nx9g] {
        margin-bottom: 5px;
    }

.MapContainer[b-yg97n0nx9g] {
    margin: unset;
    border: unset;
    padding: unset;
    height: 100%;
    width: 100%;
}
    .MapContainer.small-window[b-yg97n0nx9g] {
        height: 20%;
    }


.RoomCards-Container[b-yg97n0nx9g] {
    margin: unset;
    border: unset;
    padding: unset;
    overflow: auto;
    height: calc(80% - 70px);
    height: -moz-calc(80% - 70px);
    height: -webkit-calc(80% - 70px);
    height: -o-calc(80% - 70px);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.RoomCards-Content[b-yg97n0nx9g] {
    cursor: pointer;
    display: flow-root;
}
    .RoomCards-Content h3[b-yg97n0nx9g] {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 5px;
        margin-left: 15px;
    }

    .RoomCards-Overview-Container[b-yg97n0nx9g] {
        display: flex;
        justify-content: flex-start;
        height: 170px;
    }

.RoomCards-Overview-Left-Container[b-yg97n0nx9g] {
    width: 30%;
}

.RoomCards-Overview-Right-Container[b-yg97n0nx9g] {
    width: 70%;
    padding: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .RoomCards-Overview-Right-Container ul[b-yg97n0nx9g] {
        margin-bottom: unset;
    }

    .RoomCards-Overview-Right-Container li[b-yg97n0nx9g] {
        margin-bottom: 5px;
    }

.RoomCards-Detail-Container[b-yg97n0nx9g] {
    margin: unset;
    padding: unset;
    border: unset;
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}

.RoomCards-Detail-Left-Container[b-yg97n0nx9g] {
    width: 50%;
    height: 100%;
    margin: unset;
    padding: unset;
    border: unset;
    text-align: end;
    flex-direction: column;
    gap: 5px;
}

.RoomCards-Detail-Right-Container[b-yg97n0nx9g] {
    width: 100%;
    height: 100%;
    margin: unset;
    padding: unset;
    border: unset;
    flex-direction: column;
    gap: 5px;
}

.Rooms-Header-Container[b-yg97n0nx9g] {
    width: 100%;
    height: 38px;
    margin: 16px 0px;
    border: unset;
    padding: unset;
    display: flex;
}

.Rooms-Header-Left-Container[b-yg97n0nx9g] {
    width: 50%;
    height: 100%;
    margin: unset;
    border: unset;
    padding: unset;
    text-align: start;
    justify-content: flex-start;
}

.Rooms-Header-Right-Container[b-yg97n0nx9g] {
    width: 50%;
    height: 100%;
    margin: unset;
    border: unset;
    padding: unset;
    justify-content: flex-end;
}

.title-room-cards[b-yg97n0nx9g] {
    margin: unset;
    line-height: 38px;
}

.room-group-data-container[b-yg97n0nx9g]{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.room-group-data-container-right[b-yg97n0nx9g]{

}

.show-all-rooms-container[b-yg97n0nx9g]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.room-detail-button[b-yg97n0nx9g]{
    width: 38px !important;
}

.detail-button-group[b-yg97n0nx9g]{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.rooms-container[b-yg97n0nx9g] {
    /*max-width: 1000px;*/
}
.RoomGroup-Container[b-yg97n0nx9g] {
    width: 100%;
}

.RoomGroupCards-Content[b-yg97n0nx9g] {
    cursor: pointer;
    /*border: 1px solid #d9d9d9;*/
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
}

.RoomGroupSubCards-Content[b-yg97n0nx9g]{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top:20px;
    margin-bottom: 20px;
}

.subroom-container[b-yg97n0nx9g] {
    border: 1px solid #d9d9d9;
    width: 32%;
    border-right: 10px solid #d9d9d9;
}

.room-selected[b-yg97n0nx9g]{
    border-color: #0F7173 !important;
    border-right: 10px solid #0F7173;
}

.room-card-data[b-yg97n0nx9g]{
    display: flex;
    justify-content: space-between;
}
.room-card-data-left[b-yg97n0nx9g]{
    flex:1;
}
.room-card-data-right[b-yg97n0nx9g]{
    width: auto;
}
.property-container[b-yg97n0nx9g] {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.property-value[b-yg97n0nx9g] {
    width: 25px;
    text-align: right;
}
.property-selected[b-yg97n0nx9g]{
    font-weight: bold;
}


.subroom-container[b-yg97n0nx9g] {
    margin-left: 5%;
    /* width: 100%;*/
    width: 42%;
    min-width: 400px;
    border: 0px solid #d9d9d9;
    box-shadow: 0 8px 24px 0 rgba(50,50,50,.15) !important;
}

.room-selected[b-yg97n0nx9g] {
    border: 1px solid #0F7173;
    border-color: #0F7173 !important;
    border-right: 10px solid #0F7173;
    background: #a5c8c938;
}

.RoomGroupCards-Content[b-yg97n0nx9g] {
    box-shadow: 0 8px 24px 0 rgba(50,50,50,.15) !important;
}


.card-image[b-yg97n0nx9g] {
    object-fit: cover;
}

.fill[b-yg97n0nx9g] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width:200px;
    max-height:200px;
}

    .fill img[b-yg97n0nx9g] {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        max-height:200px;
    }

.room-default-image[b-yg97n0nx9g]{
    width: 100%;
    height: 100%;
    font-size: 80px !important;
    color: #0F7173;
    border: 2px solid #0F7173;
    display: flex;
}