.nav[b-v8m2k2r8z4] {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.displaylist[b-v8m2k2r8z4] {
    text-align: center;
    margin-bottom: 30px;
}

ul[b-v8m2k2r8z4], ol[b-v8m2k2r8z4] {
    margin-top: 0;
}

.k-tooltip[b-v8m2k2r8z4] {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.system-notification-container[b-v8m2k2r8z4] {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #F6F5F4 !important;
    margin: 5px;
}

.content-section[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 420px);
    height: -moz-calc(100vh - 420px);
    height: -webkit-calc(100vh - 420px);
    height: -o-calc(100vh - 420px);
}

.RoomGroup-Overview-Left-Container[b-v8m2k2r8z4] {
    flex: 40%;
    height: 100%;
    overflow: auto;
    margin: unset;
    border: unset;
    padding-right: 10px;
}

.RoomGroup-Overview-Right-Container[b-v8m2k2r8z4] {
    flex: 60%;
    height: 100%;
    overflow: hidden;
    margin: unset;
    padding-left: 10px;
}


@media (max-width: 800px) {
    .RoomGroup-Overview-Right-Container[b-v8m2k2r8z4], .RoomGroup-Overview-Left-Container[b-v8m2k2r8z4] {
        flex: 100%;
    }

    .content-section[b-v8m2k2r8z4] {
        display: inline !important;
    }
}

.RoomGroupCards-Content[b-v8m2k2r8z4] {
    cursor: pointer;
}

.RoomGroupCards-Overview-Container[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-start;
}

.RoomGroupCards-Overview-Left-Container[b-v8m2k2r8z4] {
    width: 50%;
}

.RoomGroupCards-Overview-Right-Container[b-v8m2k2r8z4] {
    width: 50%;
    padding: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: end;
}

    .RoomGroupCards-Overview-Right-Container ul[b-v8m2k2r8z4] {
        margin-bottom: unset;
    }

    .RoomGroupCards-Overview-Right-Container li[b-v8m2k2r8z4] {
        margin-bottom: 5px;
    }

.MapContainer[b-v8m2k2r8z4] {
    margin: unset;
    border: unset;
    padding: unset;
    height: 100%;
    width: 100%;
}
    .MapContainer.small-window[b-v8m2k2r8z4] {
        height: 20%;
    }


.RoomCards-Container[b-v8m2k2r8z4] {
    margin: unset;
    border: unset;
    padding: unset;
    overflow: auto;
    height: calc(80% - 70px);
    height: -moz-calc(80% - 70px);
    height: -webkit-calc(80% - 70px);
    height: -o-calc(80% - 70px);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.RoomCards-Content[b-v8m2k2r8z4] {
    cursor: pointer;
}

.RoomCards-Overview-Container[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-start;
}

.RoomCards-Overview-Left-Container[b-v8m2k2r8z4] {
    width: 30%;
}

.RoomCards-Overview-Right-Container[b-v8m2k2r8z4] {
    width: 70%;
    padding: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 5px;
}

    .RoomCards-Overview-Right-Container ul[b-v8m2k2r8z4] {
        margin-bottom: unset;
    }

    .RoomCards-Overview-Right-Container li[b-v8m2k2r8z4] {
        margin-bottom: 5px;
    }

.RoomCards-Detail-Container[b-v8m2k2r8z4] {
    margin: unset;
    padding: unset;
    border: unset;
    display: flex;
    justify-content: flex-end;
}

.RoomCards-Detail-Left-Container[b-v8m2k2r8z4] {
    width: 50%;
    height: 100%;
    margin: unset;
    padding: unset;
    border: unset;
    text-align: end;
    flex-direction: column;
    gap: 5px;
}

.RoomCards-Detail-Right-Container[b-v8m2k2r8z4] {
    width: 50%;
    height: 100%;
    margin: unset;
    padding: unset;
    border: unset;
    text-align: end;
    flex-direction: column;
    gap: 5px;
}

.Rooms-Header-Container[b-v8m2k2r8z4] {
    width: 100%;
    height: 38px;
    margin: 16px 0px;
    border: unset;
    padding: unset;
    display: flex;
}

.Rooms-Header-Left-Container[b-v8m2k2r8z4] {
    width: 50%;
    height: 100%;
    margin: unset;
    border: unset;
    padding: unset;
    text-align: start;
    justify-content: flex-start;
}

.Rooms-Header-Right-Container[b-v8m2k2r8z4] {
    width: 50%;
    height: 100%;
    margin: unset;
    border: unset;
    padding: unset;
    text-align: end;
    justify-content: flex-end;
}

.title-room-cards[b-v8m2k2r8z4] {
    margin: unset;
    line-height: 38px;
}



.roombox-container[b-v8m2k2r8z4] {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.roombox-element[b-v8m2k2r8z4] {
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 65px;
    background-color: white;
    border: 2px solid #0F7173;
    /*border: 1px solid #f2f2f2;*/
    /*border-left: 5px solid #f2f2f2;*/
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 31%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    min-height: 150px;
}

    .roombox-element:hover[b-v8m2k2r8z4] {
        border-color: #25CCDB;
    }
        .roombox-element:hover .listview-item-button[b-v8m2k2r8z4]{
            color: #0F7173;
        }

        .roombox-element-bullet[b-v8m2k2r8z4] {
            font-size: 20px;
            width: 30px;
        }

.roombox-element-title[b-v8m2k2r8z4] {
    margin-top: auto;
    margin-bottom: auto;
}
.mantainance-element-title[b-v8m2k2r8z4]{
    margin-top: 20px;
}

.roombox-element-data[b-v8m2k2r8z4] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.segment-button-container[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-end;
}

.roombox-first-row[b-v8m2k2r8z4] {
}

.roombox-element-bullet[b-v8m2k2r8z4] {
    font-size: 36px;
    width: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #808080;
}

.listview-item-button[b-v8m2k2r8z4] {
    position: absolute;
    margin-top: auto;
    right: 0px;
    top: 0px;
    margin-bottom: auto;
    width: 50px;
    height: 100%;
    background-color: #f2f2f2;
    color: #808080;
}

.listview-item-button-container[b-v8m2k2r8z4] {
    height: 100%;
    display: flex;
}

.listview-item-button-icon[b-v8m2k2r8z4] {
    margin: auto;
    font-size: 18px;
}

.segment-element-container[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;
}

.segment-element[b-v8m2k2r8z4] {
    padding: 20px;
    display: flex;
    width: 30%;
    flex-direction: column;
    min-height: 100px;
    background-color: white;
    border: 1px solid #F2F2F2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

    .segment-element:hover[b-v8m2k2r8z4] {
        border: 1px solid #0F7173
    }

.segment-detail-container[b-v8m2k2r8z4] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.segment-header[b-v8m2k2r8z4] {
    display: flex;
    gap: 10px;
}

.segment-header-icon[b-v8m2k2r8z4] {
    font-size: 20px;
    width: 30px;
}

.segment-header-text[b-v8m2k2r8z4] {
    font-weight: normal;
    line-height: 30px;
}

.segment-sub-header[b-v8m2k2r8z4] {
    font-weight: normal;
}

.segment-detail-container[b-v8m2k2r8z4] {
    margin-left: 42px;
}

.segment-detail-status[b-v8m2k2r8z4], .segment-detail-date[b-v8m2k2r8z4] {
    display: flex;
    gap: 10px;
}

.segment-button-container[b-v8m2k2r8z4] {
    display: flex;
    justify-content: flex-end;
}

.segment-detail-icon[b-v8m2k2r8z4] {
    width: 25px;
}

@media(max-width:800px) {
    .segment-header-icon[b-v8m2k2r8z4] {
        font-size: 16px;
        width: 20px;
    }

    .segment-header-text[b-v8m2k2r8z4] {
        font-weight: normal;
    }

    .segment-sub-header[b-v8m2k2r8z4] {
        font-weight: normal;
        margin-left: 32px;
    }

    .segment-detail-container[b-v8m2k2r8z4] {
        margin-left: 32px;
    }
}