.news-preview-container {
    width: 100%;
}

.news-scroll-container {
    overflow: auto;
}

.news-preview-container {
    display: flex;
    overflow-x: auto;
    overflow-y: visible !important;
    gap: 30px;
    scroll-behavior: smooth;
    justify-content: flex-start;
    overscroll-behavior: contain;
}

    .news-preview-container::-webkit-scrollbar {
        display: none;
    }

#left-arrow, #right-arrow {
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #0F7173;
    font-size: 32px;
    text-align: center;
    display: none;
}

#left-arrow {
    left: -60px;
}

#right-arrow {
    right: -60px;
}

    #left-arrow:hover, #right-arrow:hover {
        color: #25CCDB;
    }

.news-item-container {
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 1;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    overflow: hidden;
}

@media(max-width: 1000px) {
    .news-preview-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .news-item-container {
        width: 100%;
        padding: 10px;
        box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
        background-color: white;
    }

    .news-data-column {
        padding: 0px !important;
    }

    .news-image {
        height: 100px !important;
    }
    .news-positioning-container{
        margin-top: 0px !important;
    }
    .news-container {
        display: none !important;
    }
    .news-belt-background {
        display: none !important;
    }
}

.news-item-container:hover {
    border: 1px solid #0F7173;
}

.news-image {
    height: 150px;
    overflow: hidden;
}

    .news-image img {
        width: 100%;
    }

.news-data-column {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-title {
}

.news-preview {
    height: 100%;
}

.news-button-container {
    display: flex;
    justify-content: flex-start;
}

.news-date {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.news-button {
    color: #0F7173;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    line-height: 30px;
    height: 30px;
}

    .news-button:hover {
        text-decoration: underline;
        color: #1DA2AF;
    }

.large-news-container {
    display: flex;
    justify-content: space-between;
    height: 450px;
    overflow: hidden;
    gap: 30px;
}

.large-news-left, .large-news-right {
    flex: 1;
}
    .large-news-left{
        padding-top: 30px;
    }

    .large-news-container .news-preview {
        max-height: 220px;
        -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    }

.large-news-container .news-item-buttons {
}

.large-news-container .news-button-text {
    margin-top: auto;
    margin-bottom: auto;
}

.news-button {
    cursor: pointer;
}

.news-belt-background {
    margin: 0 -600rem;
    padding: 0rem 600rem;
    background-color: #F2F2F2;
    height: 340px;
}
.news-belt-container {
    position: relative;
}
.news-positioning-container{
    margin-top: -100px;
}
.news-preview-container .card{
    width: 32%;
    flex-shrink: 0;
}
.read-more, .read-more .icon {
    color: #0F7173 !important;
    fill: #0F7173 !important;
}
.card-image-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.card-image-wrapper .card-image img{
    width: 100px;
}