.login-element[b-4e5jlt9h4t] {
    background-color: white;
    padding: 0px;
    width: 100%;
    flex: 1;
    text-align: left;
}


.section-collapse-container-header[b-4e5jlt9h4t] {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 5px;
    width: 100%;
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    color: #0F7173;
    cursor: pointer;
    text-decoration: underline;
}

.section-collapse-container[b-4e5jlt9h4t] {
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}

svg.svg-inline--fa.fa-angle-down[b-4e5jlt9h4t] {
    margin-right: 5px;
}

.form-detail-download[b-4e5jlt9h4t] {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

    .form-detail-download:hover[b-4e5jlt9h4t] {
        color: #0F7173;
    }

        .form-detail-download:hover .form-detail-download-icon[b-4e5jlt9h4t] {
            color: #0F7173 !important;
        }

.form-detail-download-icon[b-4e5jlt9h4t] {
    font-size: 24px;
    color: #808080;
}

.form-detail-download-description[b-4e5jlt9h4t] {
    line-height: 34px;
}

.form-detail-event-container[b-4e5jlt9h4t] {
    border: 1px solid #d9d9d9;
    padding: 10px;
    max-width: 800px;
    display: flex;
    gap: 10px;
}

.font-detail-event-date-container[b-4e5jlt9h4t] {
    display: flex;
    gap: 50px;
}

.form-detail-event-container-left[b-4e5jlt9h4t] {
    font-size: 28px;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}


.form-deadline-expired-message[b-4e5jlt9h4t] {
    color: red;
}