.signing-preview-container[b-0yyxj233hc] {
    height: 600px;
}
@media(max-width: 600px){
    .signing-preview-container[b-0yyxj233hc] {
        height: auto;
    }
}
.form-group-container[b-0yyxj233hc]{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}