.page-footer-services[b-8492mpfpvy]
{
    display: flex;
    gap: 30px;
}

.page-footer-spid[b-8492mpfpvy], .page-footer-agde[b-8492mpfpvy]{
    margin: auto;
}

    .page-footer-spid img[b-8492mpfpvy] {
        height: 35px;
    }

.page-footer-agde img[b-8492mpfpvy]{
    height: 40px;
}

@media(max-width: 800px) {
    .page-footer-services[b-8492mpfpvy] {
        display: none;
    }
}