
.Blank[b-1fgiqu6wig] {
    background: white !important;
    color: white;
}

.VeryWeak[b-1fgiqu6wig] {
    background: #c41a0e !important;
    color: white !important;
    flex: 0.25;
}



.Weak[b-1fgiqu6wig] {
    background: #f2ac16 !important;
    color: white !important;
    flex: 0.5;
}



.Medium[b-1fgiqu6wig] {
    background: #f2ac16 !important;
    flex: 0.5;
}



.Strong[b-1fgiqu6wig] {
    color: white !important;
    background: #0F7173 !important;
    flex: 0.75;
}



.VeryStrong[b-1fgiqu6wig] {
    color: white !important;
    background: #0c5152 !important;
    flex: 1;
}

.password-quality-bar-background[b-1fgiqu6wig] {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: flex-start;
}