.form-detail-download[b-odqgt0wt5d]
{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

    .form-detail-download:hover[b-odqgt0wt5d] {
        color: #0F7173;
    }
        .form-detail-download:hover .form-detail-download-icon[b-odqgt0wt5d] {
            color: #0F7173 !important;
        }

.form-detail-download-icon[b-odqgt0wt5d] {
    font-size: 24px;
    color: #808080;
}
.form-detail-download-description[b-odqgt0wt5d]{
    line-height: 34px;
}

.form-detail-event-container[b-odqgt0wt5d] {
    border: 1px solid #d9d9d9;
    padding: 10px;
    max-width: 800px;
    display: flex;
    gap: 10px;
}

.font-detail-event-date-container[b-odqgt0wt5d]{
    display: flex;
    gap: 50px;
}

.form-detail-event-container-left[b-odqgt0wt5d] {
    font-size: 28px;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}


.form-deadline-expired-message[b-odqgt0wt5d]{
    color: red;
}