.document-detail-download[b-m7f7jajhq0] {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

    .document-detail-download:hover[b-m7f7jajhq0] {
        color: #0F7173;
    }

        .document-detail-download:hover .document-detail-download-icon[b-m7f7jajhq0] {
            color: #0F7173 !important;
        }

.document-detail-download-icon[b-m7f7jajhq0] {
    font-size: 24px;
    color: #808080;
}

.document-detail-download-description[b-m7f7jajhq0] {
    line-height: 34px;
}
