.elementContainer-basecontainer[b-ujmxaoij71]
{
    display: flex;
    gap: 10px;
    height: 200px !important;
    overflow: auto;
}

    .elementContainer-basecontainer label[b-ujmxaoij71] {
        color: #0F7173;
    }

.elementContainer-edit-content[b-ujmxaoij71] {
    justify-content: flex-start;
    width: 100%;
}

.elementContainer-container[b-ujmxaoij71] {
    width: 100%;
    min-height: 40px;
    border: 1px dashed #dfdfdf;
    padding: 10px;
    flex: 1;
}

.dropableContainer[b-ujmxaoij71] {
    border-color: #0F7173 !important;
}

.form-element-container[b-ujmxaoij71] {
    padding-top: 5px;
    margin-top: 5px;
}

.form-element-empty[b-ujmxaoij71]{
    height: 20px;
}

.form-element[b-ujmxaoij71] {
    border: 1px solid #dfdfdf;
    padding: 5px;
}

    .form-element:hover[b-ujmxaoij71] {
        border-color: #0F7173 !important;
    }

.element-toolbar[b-ujmxaoij71] {
    border-left: 1px solid #dfdfdf;
    padding-left: 10px;
    display: flex;
    gap: 10px;
}

.element-edit[b-ujmxaoij71] {
    margin: auto;
}

.element-sorter[b-ujmxaoij71] {
    margin: auto;
}
.element-dbname[b-ujmxaoij71] {
    font-size: 12px;
    margin-bottom: 5px;
}

.element-fieldname[b-ujmxaoij71] {
    margin: auto;
}

.element-edit-toolbar[b-ujmxaoij71] {
    display: flex;
    justify-content: space-between;
}

.element-border[b-ujmxaoij71] {
    height: 30px;
}

.element-selector[b-ujmxaoij71]{
    width: 100%;
}

.element-basecontainer-border[b-ujmxaoij71]{
    border: 1px solid #0F7173 !important;
    padding: 2px;
}
.element-multicolumn[b-ujmxaoij71] {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
    .element-multicolumn .form-group[b-ujmxaoij71] {
        width: 100%;
    }

.dropable[b-ujmxaoij71] {
    border-top: 3px solid #0F7173 !important;
}

.element-flex-container[b-ujmxaoij71]{
    display: flex;
    gap: 10px;
}

    .element-flex-container .form-group[b-ujmxaoij71]{
        flex: 1;
    }